body { 
	font-family: monospace; 
	background: white;
}
.contenedor {
	margin: auto;
	display: table;
}

h1 { 
	position: relative; 
	float: left;
	background: white;
	color: #30a7df;
	font-size: 2.5em;
}

h1 span {
    position:absolute;
    right:0;
    width:0;
    background: white;
    border-left: 1px solid #000;
    animation: escribir 2s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

